.container {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.main {
  display: grid;
  gap: 1.5rem 1.25rem;
  grid-template-columns: repeat(3, 90px);
  justify-content: center;
  place-items: center;
}

.link {
  align-items: center;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  color: rgb(var(--gray-200));
  display: flex;
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  gap: 0.075rem;
  line-height: 1.75rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--yellow-500));
    color: rgb(var(--gray-900));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--yellow-500));
  color: rgb(var(--gray-900));
}

.linkSymbol {
  color: rgb(var(--gray-500));
  font-size: var(--text-xs);
}

@media (any-hover: hover) {
  .link:hover .linkSymbol {
    color: rgb(var(--gray-600));
  }
}

.link:active .linkSymbol,
.link:focus-visible .linkSymbol {
  color: rgb(var(--gray-600));
}
