@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.container {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: center;
}

.svg {
  animation: spin 1s linear infinite;
  color: rgb(var(--yellow-500));
  height: 1.75rem;
  width: 1.75rem;
}

.circle {
  opacity: 0.25;
}

.path {
  opacity: 0.75;
}
