.container {
  text-align: center;
}

.description {
  font-size: var(--text-sm);
  margin: 0.25rem 0 0 0;
}

.link {
  box-shadow: 0 1px rgb(var(--gray-400) / 70%);
}

@media (any-hover: hover) {
  .link:hover {
    box-shadow: 0 1px rgb(var(--yellow-500) / 70%);
    color: rgb(var(--yellow-500));
  }
}

.link:active,
.link:focus-visible {
  box-shadow: 0 1px rgb(var(--yellow-500) / 70%);
  color: rgb(var(--yellow-500));
}

.linkIcon {
  color: rgb(var(--gray-400) / 70%);
  height: 1rem;
  margin: 0 0 0 0.1rem;
  vertical-align: -0.1rem;
  width: 1rem;
}

@media (any-hover: hover) {
  .link:hover .linkIcon {
    color: rgb(var(--yellow-500) / 70%);
  }
}

.link:active .linkIcon,
.link:focus-visible .linkIcon {
  color: rgb(var(--yellow-500) / 70%);
}
