.container {
  background: rgb(var(--gray-700));
  bottom: 0;
  position: fixed;
  width: 100%;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}

@media (min-width: 768px) {
  .title {
    margin: 0 auto;
    width: 768px;
  }
}

.titleLink {
  color: rgb(var(--gray-100));
  font-size: var(--text-sm);
  font-weight: 600;
  margin: 0 0.25rem 0 1rem;
  overflow: hidden;
  padding: 0.25rem 0;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleButton {
  border-radius: var(--rounded);
  margin: 0 0.5rem 0 0;
  padding: 0.25rem 0.5rem;
}

@media (hover: hover) and (pointer: fine) {
  .titleButton:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.titleButton:active {
  background: rgb(var(--gray-600));
  color: rgb(var(--yellow-500));
}

.titleButtonIcon {
  height: 1.25rem;
  vertical-align: -0.275em;
  width: 1.25rem;
}

.nav {
  color: rgb(var(--gray-300));
  font-size: var(--text-sm);
  margin: 0.75rem auto;
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    width: 768px;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .links {
    gap: 2.5rem;
  }
}

.link {
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  padding: 0.25rem 1rem;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.link:active {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}
