.container {
  display: flex;
  justify-content: center;
}

.link {
  border-radius: var(--rounded);
  color: rgb(var(--gray-200));
  padding: 0.5rem 1rem;
  text-decoration-color: rgb(var(--gray-400));
}

@media (any-hover: hover) {
  .link:hover {
    color: rgb(var(--yellow-500));
    text-decoration-color: rgb(var(--yellow-500) / 70%);
  }
}

.link:active,
.link:focus-visible {
  color: rgb(var(--yellow-500));
  text-decoration-color: rgb(var(--yellow-500) / 70%);
}

.linkSymbol {
  color: rgb(var(--gray-400));
}

@media (any-hover: hover) {
  .link:hover .linkSymbol {
    color: rgb(var(--yellow-500) / 70%);
  }
}

.link:active .linkSymbol,
.link:focus-visible .linkSymbol {
  color: rgb(var(--yellow-500) / 70%);
}
