.container {
  display: flex;
  justify-content: center;
}

.link {
  box-shadow: 0 1px rgb(var(--gray-400) / 70%);
  color: rgb(var(--gray-200));
  line-height: 1.4;
}

@media (any-hover: hover) {
  .link:hover {
    box-shadow: 0 1px rgb(var(--yellow-500) / 70%);
    color: rgb(var(--yellow-500));
  }
}

.link:active,
.link:focus-visible {
  box-shadow: 0 1px rgb(var(--yellow-500) / 70%);
  color: rgb(var(--yellow-500));
}

.linkSymbol {
  color: rgb(var(--gray-400));
}

@media (any-hover: hover) {
  .link:hover .linkSymbol {
    color: rgb(var(--yellow-500) / 70%);
  }
}

.link:active .linkSymbol,
.link:focus-visible .linkSymbol {
  color: rgb(var(--yellow-500) / 70%);
}
